<!DOCTYPE html>
<html>
<head>
  <title>Compatibility Calculator</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>Compatibility Calculator </h1>
    <h2>by SMME Engineers</h2>
    <form action="/quiz1" method="POST">
      <input type="text" name="user1" placeholder="User 1 Name" required><br>
      <input type="text" name="user2" placeholder="User 2 Name" required><br>
      <button type="submit">Start Test</button>
    </form>
  </div>
</body>
</html>
